.fundo-cadastro {
    background-image: url(../../assets/imagens/background-cadastro.png);
    background-size: cover;

    background-position: center; /* Isso centraliza a imagem vertical e horizontalmente */
  
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario-cadastro {
    margin-right: 17vw;
    display: flex;
    flex-direction: column;
}

.formulario-cadastro .imagem {
    text-align: center;
}

.formulario-cadastro .imagem img {
    width: 70px;
}

.formulario-cadastro h2 {
    text-align: center;
    letter-spacing: 4px;
    font-weight: var(--letra-semi-bold);
    font-size: 1.2rem;
}

.formulario-cadastro .botoes-cadastro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
    gap: 16px;
    width: 100%;
}

.formulario-cadastro .botoes-cadastro .botao-borda {
    width: calc((29vw/2) - 16px);
}

.formulario-cadastro .botoes-cadastro .botao-preenchido {
    width: calc((29vw/2) - 16px);
    margin-left: 0px;
    margin-right: 0px;
}

.imagem-lateral-cadastro {
    margin-left: 12vw;
    text-align: center;
}

.imagem-lateral-cadastro p {
    font-weight: var(--letra-light);
    font-size: 0.875rem;
}

.botao-desativado {
    color: var(--cinza);
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid;
    border-color: var(--cinza);
    color: var(--cinza);
    border-color: var(--cinza);
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    font-weight: var(--letra-semi-bold);
    font-size: 1rem;
    width: calc((29vw/2) - 16px);
}

.container-inputs .check-cadastro {
    width: calc(29vw + 30px);

}

/* ---------------------------- */

.container-inputs .input input {
    width: 29vw;
}

/* INPUT QUE TEM 2 EM UMA LINHA */

.linha-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 32px;
    gap: 16px;
}

.dropdown-select {
    width: calc((29vw/2) - 16px);
}

.link-voltar{
    width: 40px;
    text-decoration: none;
    position: absolute;
    top: 20px; /* Ajuste a posição vertical conforme necessário */
    left: 1.5vw; /* Ajuste a posição horizontal conforme necessário */
    text-align: center;
}

@media screen and (max-width: 1285px) {
    .formulario-cadastro {
        justify-content: center;
        margin: 0px;
    }

    .imagem-lateral-cadastro {
        margin: 0px;
        margin-right: 10vw;
    }

    .fundo-cadastro {
        justify-content: center;
    }

    .container-inputs .input input {
        width: 35vw;
    }

    .dropdown-select {
        width: calc((35vw/2) - 16px);
    }

    .formulario-cadastro .botoes-cadastro .botao-borda {
        width: calc((35vw/2) - 16px);
    }

    .formulario-cadastro .botoes-cadastro .botao-preenchido {
        width: calc((35vw/2) - 16px);
    }

    .botao-desativado {
        width: calc((35vw/2) - 16px);
    }

    .container-inputs .check-cadastro {
        width: calc(35vw + 30px);
    }

}


@media screen and (max-width: 1150px) {
    .imagem-lateral-cadastro {
        display: none;
    }

    .container-inputs .input input {
        width: 40vw;
    }

    .dropdown-select {
        width: calc((40vw/2) - 16px);
    }

    .formulario-cadastro .botoes-cadastro .botao-borda {
        width: calc((40vw/2) - 16px);
    }

    .formulario-cadastro .botoes-cadastro .botao-preenchido {
        width: calc((40vw/2) - 16px);
    }

    .botao-desativado {
        width: calc((40vw/2) - 16px);
    }

    .container-inputs .check-cadastro {
        width: calc(40vw + 30px);
    }

}


@media screen and (max-width: 842px) {
    .container-inputs .input input {
        width: 70vw;
    }

    .dropdown-select {
        width: calc((70vw/2) - 16px);
    }

    .formulario-cadastro .botoes-cadastro .botao-borda {
        width: calc((70vw/2) - 16px);
    }

    .formulario-cadastro .botoes-cadastro .botao-preenchido {
        width: calc((70vw/2) - 16px);
        margin-left: 0px;
        margin-right: 0px;
    }

    .botao-desativado {
        width: calc((70vw/2) - 16px);
    }

    .container-inputs .check-cadastro {
        width: calc(70vw + 30px);
    }
}

@media screen and (max-width: 520px) {
    .formulario-cadastro h2 {
        letter-spacing: 2px;
        font-size: 1.1rem;
    }

    .fundo-cadastro{
        padding-top: 20px;
        padding-bottom: 50px;
    }
}