.caixa-servico{
    margin-top: 30px;
    background-color: var(--cinza);
    padding: 35px;
    border-radius: 7px;
    display: flex;
    gap: 24px;
    transition: 0.3s;
    cursor: pointer;

    position: relative;
}

.caixa-servico:hover{
    scale: 1.02;
    box-shadow: 0.5px 0.5px 5px var(--cor-letras);
}

.foto-perfil-empresa{
    border-radius: 12px;
}

.foto-perfil-empresa .foto{
    border-radius: 12px;
}

.dados-servico-empresa .titulo-servico{
    margin: 0px 0px 16px 0px;
    font-size: 1.2rem;
    font-weight: var(--letra-medium);
}

.dados-servico-empresa .nome-empresa-servico{
    margin: 0px;
    font-size: 1.1rem;
    font-weight: var(--letra-light);
}

.dados-servico-empresa .descricao-servico{
    margin: 24px 0px;
    font-size: 0.9rem;
    font-weight: var(--letra-light);
}

.valor-medio-servico{
    margin: 0px;
    font-size: 0.95rem;
    font-weight: var(--letra-medium);
}

.valor-medio-servico span{

    font-weight: var(--letra-light);
}

.pilar-servico {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: end;
    top: 19px;
    right: 0;
}

.pilar-servico .pilar-esg{
    width: 118px;
    padding: 3px;
    text-align: center;
    margin: 3px 0px;
    background-color: var(--cor-primaria);
    border-radius: 10px 0px 0px 2px;
    font-weight: var(--letra-regular);
    font-size: 0.85rem;
}

.pilar-servico .pilar-esg-nao-contido{
    width: 30px;
    padding: 3px;
    text-align: center;
    margin: 3px 0px;
    background-color: var(--cor-secundaria);
    border-radius: 10px 0px 0px 2px;
    font-weight: var(--letra-regular);
    color: var(--cinza);
    font-size: 0.85rem;
}