.imagem-interactionsC:hover,
.imagem-interactionsF:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.interactions-box-component {
    border-radius: 7px;
    gap: 4vh;
    background: #00000086;
    display: flex;
    padding: 3vh 3vh 3vh 3vh;
    margin-bottom: 3vh;
}

.interactions-box-component-empresa {
    width: 100%;
}

.box-botao {
    margin-top: 20vh;
}

.botao-posicao {
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-primaria);
    border: none;
    padding: 8px;
    color: var(--preto-comum);
    font-weight: var(--letra-semi-bold);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease-in;
    width: 19vh;

}

.botao-posicao:hover {
    background-color: var(--cor-letras);
}