#nossa-solucao {
    background-image: url(../../../../assets/background-fazemos.jpg);
    background-size: cover;

    background-position: center; /* Isso centraliza a imagem vertical e horizontalmente */
  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titulo-oferecemos{
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: var(--letra-medium);
    color: var(--cor-letras);
}

.titulo-oferecemos span{
    color: var(--cor-primaria);
}

.linha-beneficios{
    display: flex;
    flex-direction: row;
}


@media (max-width: 975px) {
   .linha-beneficios{
    flex-direction: column;
   }
}

@media (max-width: 522px) {
    .caixa-beneficios{
     margin: 2px 5px;
    }

    .titulo-oferecemos{
        font-size: 1.30rem;
        margin-bottom: 10px;
    }
 }