.container-ultimo-servico{
    background-color: var(--cinza-caixas);
    padding: 15px 20px;
    width: 295px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.35s ease;
}

.container-ultimo-servico .titulo-ultimo-servico{
    margin: 0px;
    font-size: 1rem;
    font-weight: var(--letra-regular);
}

.container-ultimo-servico .nome-empresa-ultimo-servico{
    margin: 8px 0px 16px 0px ;
    font-size: 0.89rem;
    font-weight: var(--letra-light);
}

.container-ultimo-servico .valor-ultimo-servico{
    margin: 0px 0px 0px 0px ;
    font-size: 0.9rem;
    font-weight: var(--letra-regular);
}

.container-ultimo-servico:hover{
    scale: 1.025;
    box-shadow: 0.5px 0.5px 5px var(--cor-letras);
}