.botao-borda{
    width: 100px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid;
    color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    font-weight: var(--letra-medium);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.botao-borda:hover{
    background-color: var(--cor-primaria);
    color: var(--cor-letras);
}
