.planos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0D0D0D;
  width: 100%;
  height: 95vh;
  padding: 45px 0px 45px 0px;
}

.textos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-planos {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: var(--letra-medium);
  color: var(--cor-letras);
}

.subtitulo-planos {
  font-weight: 200;
  font-size: 0.95rem;
  margin-bottom: 32px;
}

.titulo-planos span {
  color: var(--cor-primaria);
  margin-left: 10px;
  margin-right: 10px;
}


/*Aqui começa os cards*/
.cardPlanos-container {
  display: flex;
  align-items: center;
  gap: 2rem;

}

.linha-fina {
  height: 1px; /* Ajuste conforme necessário */
  width: 100%;
  background-color: #01A2C3;
  margin-bottom: 3px;
}

.plano-categoria{
  font-size: 1.5rem;
  font-weight: var(--letra-medium);
  color: #01A2C3;
  margin: 0% 0% 3% 0%;
}

.p1 {
  font-size: 0.85rem;
  font-weight: 400;
  color: #4D4D4D;
  letter-spacing: 2px;
  
}

.p2 {
  text-align: center;
  font-size: 13.5px;
  font-weight: var(--letra-extra-light);
  letter-spacing: 15%;
  margin: 15px 0px;
}

.p3 {
  font-size: 0.85rem;
  font-weight: var(--letra-light);
  line-height: 28px;
  /* text-align: center; */
  margin: 15px 0px 0px 0px;
}

.p3 img {
  margin-right: 5px;
}


.cardPlanos {
  background-color: #181919;
  width: 275px;
  padding: 25px 37px 35px 37px;
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #01A2C3; */
  border-radius: 7px;/
}

/* Adicione a seguinte regra para ajustar o espaço entre as linhas de texto */
.cardPlanos .p1{
  /* line-height: 0.1; */
  margin: 0;
  /* Ajuste conforme necessário */
}

.linhas {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 25px;

}

.line1 {
  display: flex;
  height: 30px;
  width: 107.5vh;
  background-color: #014D5C;
  margin-top: 1px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin-left: 2%;


}

.line2 {
  display: flex;
  height: 30px;
  width: 52vh;
  background-color: #014D5C;
  margin-right: 2%;
  margin-top: 1px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.botao-preenchido-planos {
  position: absolute;
  bottom: -15px;
  /* z-index: 34; */
  font-family: 'Poppins', sans-serif;
  background-color: var(--cor-primaria);
  padding: 7px;
  border: none;
  color: var(--preto-comum);
  font-weight: var(--letra-semi-bold);
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in;
  width: 180px;
  /* margin-top: 30%; */
}

.botao-preenchido-planos:hover {
  background-color: var(--cor-letras);
}
/* Planos.css */

.descricao-plano-institucional{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15px;
}

.borda-espacada-container-plano{
  padding: 7px;
  box-shadow: 0 0 0.1px 0.5px var(--cor-secundaria);
  border-radius: 7px;
  position: relative;
}

.preco-plano-institucional{
  margin: 0;
  font-weight: var(--letra-extra-light);
  font-size: 0.97rem;
  margin: 10px 0px 0px 0px;
}

.preco-plano-institucional .preco-institucional{
  font-size: 1.5rem;
  letter-spacing: 2px;
}