.conteudo-titulo-pagamento {
    font-weight: var(--letra-medium);
    font-size: 1rem;
    color: var(--cor-primaria);
    margin-top: 16px;
    margin-bottom: 10px;
}

.pagamento-box {
    border-radius: 7px;
    /* border: 1px solid #FDFAFA; */
    background: #1B1F23;
    padding: 0px 0px 5% 0%;
}

.img-pagamento {
    width: 43px;
    height: 43px;
    margin-top: 4vh;
}

.pagamento-box-titulo {
    display: flex;
    justify-content: center;
    gap: 2vh;
}

.pagamento-box-titulo-h1 {
    font-size: 1.6rem;
    font-weight: var(--letra-bold);
    margin-top: 4vh;
}


.container-box {
    display: flex;
    flex-direction: column;
    padding: 0px 10vh;

}

.container-box-pagamento-titulo {
    display: flex;
    gap: 2vh;
    z-index: 2;
    margin-bottom: -3.7vh;
}


.container-box-pagamento-subtitulo-ativo {
    font-weight: var(--letra-medium);
    font-size: 1rem;
    color: var(--cor-primaria);
    width: 89px;
    height: 33px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: #384048;
    /* border-top: 1px solid #FFF; */
    /* border-right: 1px solid #FFF; */
    /* border-left: 1px solid #FFF; */
    cursor: pointer;
    z-index: 1;
}

.container-box-pagamento-subtitulo-ativo-2 {
    font-weight: var(--letra-medium);
    font-size: 1rem;
    color: var(--cor-primaria);
    width: 20vh;
    height: 33px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: #384048;
    /* border-top: 1px solid #FFF; */
    /* border-right: 1px solid #FFF; */
    /* border-left: 1px solid #FFF; */
    cursor: pointer;
    z-index: 1;
}


.container-box-pagamento-subtitulo {
    font-weight: var(--letra-medium);
    font-size: 1rem;
    display: relative;
    justify-content: center;
    cursor: pointer;
}

.container-box-pagamento-subtitulo-2 {
    font-weight: var(--letra-medium);
    font-size: 1rem;
    display: relative;
    justify-content: center;
    cursor: pointer;
    margin-left: 1vh;

}

.caixa-pagamentos {
    border-radius: 5px;
    /* border: 1px solid #FFF; */
    background: #384048;
    position: relative;
    z-index: 1;
}

.caixa-pagamentos-h1 {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    font-weight: var(--letra-medium);
    margin-top: 3vh;
}

.img-qrcode {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.qrcode {
    width: 22vh;
    height: 22vh;
}

.titulo-pag {
    font-size: 1.1rem;
    font-weight: var(--letra-semi-=);
    margin-top: 0.5vh;

}

.titulo-pag-2 {
    font-size: 1.1rem;
    font-weight: var(--letra-medium);
    margin-top: 0.5vh;
}

.pag-org {
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.caixa-pagamentos-dividir {
    display: flex;
    justify-content: center;
    gap: 8vh;
}

.pix-codigo-container {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 10vh;
    justify-content: center;
    gap: 2vh;

}

.caixa-pag {
    background: #ebeaea;
    width: 371px;
    height: 31px;
    flex-shrink: 0;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 0.5vh;
    font-weight: var(--letra-semi-bold);
    border-radius: 2px;
}




.botao-pix {
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-primaria);
    /* width: 100px; */
    border: none;
    padding: 8px;
    color: var(--preto-comum);
    font-weight: var(--letra-semi-bold);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease-in;
    /* Adicione uma transição para a propriedade transform */
}

.botao-pix:hover {
    background-color: var(--cor-letras);
}