@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.beneficios-esg {
  position: relative;
  background: url(../../../../assets/imagens/fundo-beneficios.jpg);
  background-size: cover;
  background-position: center;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  height: 95vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.616); /* Adicione a cor com opacidade (0.5 neste exemplo) */
}

.titulo {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  margin-top: 100px;
  z-index: 1; /* Certifique-se de que o título está acima do overlay */
}

.titulo-beneficios-esg {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 80px;
  font-weight: var(--letra-medium);
  color: var(--cor-letras);
  font-size: 35px;
  margin-left: 6rem;
}

.titulo-beneficios-esg span {
  color: var(--cor-primaria);
  margin-left: 10px;
  margin-right: 10px;
}

.titulo-container {
  gap: 1rem;
  display: flex;
  text-align: center;
}

.titulo-beneficio h3 {
  color: var(--cor-primaria);
}

.titulo-beneficio {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Linha inferior */
.beneficios-esg::before {
    content: '';
    position: absolute;
    bottom: 3rem;
    left: 0;
    width: 35%;
    border-radius: 6px;
    height: 15px; /* Altura da linha */
    background-color: #014D5C; /* Cor da linha */
    z-index: 1; /* Certifique-se de que o título está acima do overlay */

  }
  
  /* Linha superior */
  .beneficios-esg::after {
    content: '';
    position: absolute;
    top: 3rem;
    right: 0;
    width: 35%;
    border-radius: 6px;
    height: 15px; /* Altura da linha */
    background-color: #014D5C; /* Cor da linha */
    z-index: 1; /* Certifique-se de que o título está acima do overlay */

  }