.caixa-header{
    width: 100%;
}

.header-plataforma{
    padding: 15px 15px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.1px solid var(--cor-secundaria);
}

.logo {
    width: 200px;
}

ul .link-header{
    text-decoration: none;
    margin: 0px 25px;
    color: var(--cor-letras);
    font-weight: var(--letra-light);
    font-size: 1.100rem;
    min-width: 130px;
}

.caixa-dropdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    height: 50px;
}

.dropDown img{
    width: 19px;
}

.dropDown span{
    margin-left: 10px;
    font-weight: var(--letra-light);
    font-size: 0.90rem;
}


.dropDown {
    position: relative;
    display: inline-block;
    height: 100%;      
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 8px;

}

/* lista suspensa quando o dropdown está aberto */
.dropDown:hover .notificacoes-lista {
    display: block;
}

.dropDown:hover .usuario-lista {
    display: block;
}

.dropDown .usuario-lista {
    display: none;
    position: absolute;
    top: 35px;
    left: -5px;
    background-color: var(--cinza);
    border-radius: 5px;
    border: 0.05px solid #A3A3A3;
    list-style: none;
    padding: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropDown .usuario-lista li {
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 5px;
    width: 8vw;
    font-weight: var(--letra-ligh);
    font-size: 0.8rem;
}

/* Estilo dos itens da lista suspensa ao passar o mouse */
.dropDown .usuario-lista li:hover {
    background-color: #121212;
    color: var(--cor-primaria);
}


